.container-footer {
  display: flex;
  align-items: center;
}

.list-footer-icon {
  display: flex;
  list-style: none;
  padding: 0;
}
.link-footer-icon {
  background-color: #44454e;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration-timing-function);
}

.svg-footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.link-footer-icon:hover,
.link-footer-icon:focus {
  background-color: #2196f3;
}

.title-footer-icon {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.item-footer-icon:not(:last-child) {
  margin-right: 10px;
}
.icon-position {
  margin-left: 70px;
  margin-right: 93px;
}